<style type="text/css"> 
.img{
  height: 200px;
};
.index-content{

</style>
<br><br><br><br>
<div class="container-fluid" style="background-color: black;height: 400px;border-radius:5px;color: white;">
  <h2>Need Hostel</h2>
  <h4>E Hostel Tracking System is a platform where you can find new hostels and flats </h4>
    
</div>
<br><br>
<div class="container-fluid index-content">
  <div class="row" style="width: 100%;">
<% @firstpage.each do |f| %>
    <div class="col-lg-4 content" style="padding: 1%;width: 100%;">
      <span><strong>Hostel Name:</strong></span>
        <%= f.hostel_name %><br>
        <span><strong>Hostel Location:</strong></span>
         <%= f.location %><br>
        <span><strong>Hostel Price:</strong></span>
        <%= f.price %>
        <%= f.id %>
        <%= link_to "Show More", :controller => "hostels", :action => "show", :id => f.id %>
        <%= image_tag f.images.first, class: "img-responsive img" %>
        <br>
         
        <br><br>
        <hr>
    </div>
    
  <% end %>
  </div>
   </div>