<style type="text/css"> 
.img{
  width:320px;
  height:320px;
}
body {
  font-family: Arial, Helvetica, sans-serif;
}

.flip-card {
  background-color: transparent;
  width: 300px;
  height: 300px;
  perspective: 1000px;
}

.flip-card-inner {
  position: relative;
  width: 100%;
  height: 100%;
  text-align: center;
  transition: transform 0.6s;
  transform-style: preserve-3d;
  box-shadow: 0 4px 8px 0 rgba(0,0,0,0.2);
}

.flip-card:hover .flip-card-inner {
  transform: rotateY(180deg);
}

.flip-card-front, .flip-card-back {
  position: absolute;
  width: 100%;
  height: 100%;
  -webkit-backface-visibility: hidden;
  backface-visibility: hidden;
}

.flip-card-front {
  background-color: #bbb;
  color: black;
}

.flip-card-back {
  background-color: #222831;
  color: white;
  transform: rotateY(180deg);
  overflow: hidden;
}

</style>
<% if current_user.try(:admin?) %>
  <%= link_to 'Add Hostel', new_hostel_path, :class => 'btn btn-success' %> 
  <%= link_to 'My hostels', hostels_path, :class => 'btn btn-info' %>
<% end %>
<br><br><br><br>
<div class="container-fluid" style="background-color: black;height: 400px;border-radius:5px;color: white;">
  <h2>Need Hostel.......?</h2>
  <h4>E Hostel Tracking System is a platform where you can find new hostels and flats </h4>
    
</div>
<br><br>
<div class="container-fluid">
  <div class="row" >
    <% @firstpage.each do |f| %>
    <% if f.images.present? %>
    <div class="col-sm-4" style="margin-top: 40px;">
<div class="flip-card">
  <div class="flip-card-inner">
    <div class="flip-card-front">
      <%= image_tag(f.images.first, class: 'img img-responsive') if f.images.attached? %>
    </div>
    <div class="flip-card-back">
      <h1><%= f.hostel_name %></h1> 
      <p><%= f.location %></p> 
      <p><%= f.price %></p>
      <p style="margin: 2.5%; 
       width: 280px; overflow: hidden;text-overflow: ellipsis;white-space: nowrap;  "><%= f.description %></p>
      <%= link_to "Show More", :controller => "hostels", :action => "show", :id => f.id %>
    </div>
  </div>
</div>
</div>
<% end %>
<% end %>
</div>

</div>
<br><br>
<br><br>
<div class="container-fluid">
  <div class="row">
    <div class="col-md-4 " style="width: 700px; height: 440px;">
        <div style="overflow:hidden;width: 700px;position: relative;"><iframe width="700" height="440" src="https://maps.google.com/maps?width=700&amp;height=440&amp;hl=en&amp;q=lahore+(Lahore%20)&amp;ie=UTF8&amp;t=p&amp;z=14&amp;iwloc=B&amp;output=embed" frameborder="0" scrolling="no" marginheight="0" marginwidth="0"></iframe><div style="position: absolute;width: 80%;bottom: 10px;left: 0;right: 0;margin-left: auto;margin-right: auto;color: #000;text-align: center;"><small style="line-height: 1.8;font-size: 2px;background: #fff;">Powered by <a href="https://embedgooglemaps.com/de/">Embedgooglemaps.com/de/</a> & <a href="https://www.theparacast.com/">best targeted traffic service</a></small></div><style>#gmap_canvas img{max-width:none!important;background:none!important}</style></div><br />
        <br><br><br><br>
    </div>
  </div>
</div>
<div class="container-fluid">

  
</div>

<script type="text/javascript">
</script>