<%= form_for @edit do |f| %>
<label>Email</label>
<%= f.text_field :email %>
<label>Username</label>
<%= f.text_field :Username %>
<label>Contact Number</label>
<%= f.text_field :contact_num %>
<label>Update Profile</label>
<%= f.submit %>
<% end %>