<style type="text/css">
  hr{ 
  height: 1px;
  color: red;
  background-color: #679b9b;
  border: none;
};
.map-div{
  justify-content: right;
  border: 1px solid;
  width: 30%;
  height: auto;
};
</style>
<br><br><br>
<%= link_to 'Add New Hostel', new_hostel_path, :class => "btn btn-primary" %><br><br><br><br>

<div class="container" >
  <% current_user.hostels.each do |hostel| %>
<div class="row" >
    <div class="col-md-6 content">
        <span><strong>Hostel Name:</strong></span>
        <%= hostel.hostel_name %><br>
        <span><strong>Hostel Location:</strong></span>
         <%= hostel.location %><br>
        <span><strong>Hostel Price:</strong></span>
        <%= hostel.price %>
        <br>
        <br>
        <%= image_tag(hostel.images.first, class: 'img img-responsive') if hostel.images.attached?%>
        <br>
         <%= link_to 'show more', hostel, :class => "btn btn-info" %>
        <br>
        <br>
        <hr>
    </div>
    </div>
 <% end %>
 </div>
