<%= link_to 'New Hostel', new_hostel_path %><br><br><br><br>

<div class="container" >
  <div class="row">
<% current_user.hostels.each do |hostel| %>
    <div class="col-md-4">
      <span><strong>Hostel Name:</strong></span>
        <%= hostel.hostel_name %><br>
        <span><strong>Hostel Location:</strong></span>
         <%= hostel.location %><br>
        <span><strong>Hostel Price:</strong></span>
        <%= hostel.price %>
        <br>
         <%= link_to 'show more', hostel %>
        <br><br><br><br><br><br><br><br><br>
    </div>
 <% end %>
 </div>
 </div>

   <script type="text/javascript">
      
   </script>