<style type="text/css">
	.img{
		max-width: 80%;
		max-height: 80%;
		display: block;
	};

</style>
<% if current_user.admin? %>
 <%= link_to 'Edit the hostel', edit_hostel_path(@hostel), :class => "btn btn-warning m-2" %>
 <%= link_to 'Delete the hostel', @hostel, method: :delete, data: { confirm: 'Are you sure?' }, :class => "btn btn-danger m-2" %>
 <% end %>

<p id="notice"><%= notice %></p>



<div class="container">
	<div class="row">
	 <% (0...@hostel.images.count).each do |image| %>
	  <div class="img-div col-md-4">
      <% if current_user.admin? %>
     <%= link_to delete_image_attachment_hostel_path(@hostel.images[image]), method: :delete, data: {confirm: "Are you sure?"} do%>
     <i class="far fa-times-circle" style="font-size: 25px;"></i>
     <% end %>
     <% end %>
		<%= image_tag(@hostel.images[image], :class => "img") %>
	  </div>
	  <% end %>

	</div>
</div>
<br><br><br>

<div class="container">
<table class="table table-striped">
  <thead>
    <tr>
      <th scope="col"></th>
      <th scope="col"></th>
    </tr>
  </thead>
  <tbody>
    <tr>
      <th scope="row"><strong>Hostel name:</strong></th>
      <td><%= @hostel.hostel_name %></td>
      
      
    </tr>
    <tr>
      <th scope="row"><strong>Location:</strong></th>
      <td><%= @hostel.location %></td>
      
    </tr>
    <tr>
      <th scope="row"><strong>Male/Female:</strong></th>
      <td><%= @hostel.hostel_type %></td>
    
    </tr>
    <tr>
      <th scope="row"> <strong>Price:</strong></th>
      <td><%= @hostel.price %></td>
    
    </tr>
     <tr>
      <th scope="row"><strong>Description:</strong></th>
      <td><%= @hostel.description %></td>
    
    </tr>
    <tr>
      <th scope="row"><strong>Owner Email:</strong></th>
      <td><%= @hostel.user.email %></td>
    
    </tr>
    <tr>
      <th scope="row"></th>
      <td></td>
    
    </tr>
  </tbody>
</table>
</div>


