<!DOCTYPE html>
<html>
  <head>
    <title>EHosteltrackingsys</title>
    <%= csrf_meta_tags %>
    <%= csp_meta_tag %>
     <script src="https://account.snatchbot.me/script.js"></script><script>window.sntchChat.Init(186231)</script>
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
     <link href="https://fonts.googleapis.com/css?family=Poppins:300,400,500,600,700" rel="stylesheet">
     <link rel="stylesheet" href="https://use.fontawesome.com/releases/v5.5.0/css/all.css" integrity="sha384-B4dIYHKNBt8Bc12p+WXckhzcICo0wtJAoU8YZTY5qE0Id1GSseTk6S+L3BlXeVIU" crossorigin="anonymous">

    <link href="https://fonts.googleapis.com/css?family=Merienda+One" rel="stylesheet">
    <link rel="stylesheet" href="https://fonts.googleapis.com/icon?family=Material+Icons">
    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/font-awesome/4.7.0/css/font-awesome.min.css">
    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/css/bootstrap.min.css">
    <script src="https://ajax.googleapis.com/ajax/libs/jquery/1.12.4/jquery.min.js"></script>
    <script src="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/js/bootstrap.min.js"></script>

    <%= stylesheet_link_tag    'application', media: 'all', 'data-turbolinks-track': 'reload' %>
    <%= javascript_include_tag 'application', 'data-turbolinks-track': 'reload' %>
    <style type="text/css">
      body{
    background: #eeeeee;
  }
    .form-inline {
        display: inline-block;
    }
  .navbar-header.col {
    padding: 0 !important;
  } 
  .navbar {   
    background: #fff;
    padding-left: 16px;
    padding-right: 16px;
    border-bottom: 1px solid #d6d6d6;
    box-shadow: 0 0 4px rgba(0,0,0,.1);
  }
  .nav-link img {
    border-radius: 50%;
    width: 36px;
    height: 36px;
    margin: -8px 0;
    float: left;
    margin-right: 10px;
  }
  .navbar .navbar-brand {
    color: #555;
    padding-left: 0;
    padding-right: 50px;
    font-family: 'Merienda One', sans-serif;
  }
  .navbar .navbar-brand i {
    font-size: 20px;
    margin-right: 5px;
  }
  .search-box {
        position: relative;
    } 
    .search-box input {
    box-shadow: none;
        padding-right: 35px;
        border-radius: 3px !important;
    }
  .search-box .input-group-addon {
        min-width: 35px;
        border: none;
        background: transparent;
        position: absolute;
        right: 0;
        z-index: 9;
        padding: 7px;
    height: 100%;
    }
    .search-box i {
        color: #a0a5b1;
    font-size: 19px;
    }
  .navbar .nav-item i {
    font-size: 18px;
  }
  .navbar .dropdown-item i {
    font-size: 16px;
    min-width: 22px;
  }
  .navbar .nav-item.open > a {
    background: none !important;
  }
  .navbar .dropdown-menu {
    border-radius: 1px;
    border-color: #e5e5e5;
    box-shadow: 0 2px 8px rgba(0,0,0,.05);
  }
  .navbar .dropdown-menu li a {
    color: #777;
    padding: 8px 20px;
    line-height: normal;
  }
  .navbar .dropdown-menu li a:hover, .navbar .dropdown-menu li a:active {
    color: #333;
  } 
  
  .navbar .active a, .navbar .active a:hover, .navbar .active a:focus {
    background: transparent !important;
  }
  @media (min-width: 1200px){
    .form-inline .input-group {
      width: 300px;
      margin-left: 30px;
    }
  }
  @media (max-width: 1199px){
    .form-inline {
      display: block;
      margin-bottom: 10px;
    }
    .input-group {
      width: 100%;
    }
  }
  .logo{
    height: auto;
    width: 110px;
    margin-left: -15px;
  }
  @import url('https://maxcdn.bootstrapcdn.com/font-awesome/4.7.0/css/font-awesome.min.css');
section {
    padding: 60px 0;
}

section .section-title {
    text-align: center;
    color: #007b5e;
    margin-bottom: 50px;
    text-transform: uppercase;
}



.navbar-default .dropdown .dropdown-menu {
  border-top: 0;
  border-left: 4px solid #2eca6a;
  border-right: 0;
  border-bottom: 0;
  transform: translate3d(0px, -40px, 0px);
  opacity: 0;
  filter: alpha(opacity=0);
  visibility: hidden;
  transition: all 0.5s cubic-bezier(0.3, 0.65, 0.355, 1) 0s, opacity 0.31s ease 0s, height 0s linear 0.36s;
  margin: 0;
  border-radius: 0;
  padding: 5px 0;
}

@media (min-width: 768px) {
  .navbar-default .dropdown .dropdown-menu {
    border-top: 4px solid #2eca6a;
    border-left: 0;
    display: block;
    position: absolute;
    box-shadow: 0 2px rgba(17, 16, 15, 0.1), 0 2px 10px rgba(20, 19, 18, 0.1);
  }
}

.navbar-default .dropdown .dropdown-menu .dropdown-item {
  padding: 10px 10px;
  transition: all 500ms ease;
  font-weight: 600;
  min-width: 220px;
}

.navbar-default .dropdown .dropdown-menu .dropdown-item:hover {
  background-color: #ffffff;
  color: #2eca6a;
  transition: all 500ms ease;
}

.navbar-default .dropdown .dropdown-menu .dropdown-item.active {
  background-color: #ffffff;
  color: #2eca6a;
}

.navbar-default .dropdown:hover .dropdown-menu {
  transform: translate3d(0px, 0px, 0px);
  visibility: visible;
  opacity: 1;
  filter: alpha(opacity=1);
}

/*------/ Hamburger Navbar /------*/
.navbar-toggler {
  position: relative;
}



    </style>
</head>
<body>
 <br>
 <br>
 <br>
 <br>
 <br>

<nav class="navbar navbar-default navbar-expand-xl navbar-fixed-top" style="font-size: 2rem;">
  <div class="navbar-header d-flex col">
    <a class="navbar-brand" ><%= link_to root_path do %>
   <%= image_tag "logo.png", class: "logo" %>
<% end %></a>     
    <button type="button" data-target="#navbarCollapse" data-toggle="collapse" class="navbar-toggle navbar-toggler ml-auto">
      <span class="navbar-toggler-icon"></span>
      <span class="icon-bar"></span>
      <span class="icon-bar"></span>
      <span class="icon-bar"></span>
    </button>
  </div>
  <!-- Collection of nav links, forms, and other content for toggling -->
  <div id="navbarCollapse" class="collapse navbar-collapse justify-content-start">
    <ul class="nav navbar-nav" style="margin-top: 25px; margin-left: 1%;">
      <li class="nav-item active"><%= link_to 'Home', index_index_path%></li>
      <li class="nav-item"><%= link_to 'Boys Hostel', boys_path%></li>
      <li class="nav-item"><%= link_to 'Girls Hostel', girls_index_path%></li>
       <li class="nav-item"><%= link_to 'Add Hostel', new_hostel_path%></li>
      <li class="nav-item"><%= link_to "Support", support_hostels_path %></li>
    </ul>
    <ul class="nav navbar-nav navbar-right ml-auto">
      <% if user_signed_in? %>
      <li class="nav-item dropdown">
        <a href="#" data-toggle="dropdown" class="nav-link dropdown-toggle user-action"><%= current_user.email %><b class="caret"></b></a>
        <ul class="dropdown-menu">
          <li><%= link_to 'Edit profile', edit_user_registration_path, :class =>"dropdown-item" %></li>

            <% if current_user.try(:admin?) %>
            <li>
              <%= link_to 'Add Hostel', new_hostel_path , :class =>"dropdown-item"%> 
            </li>
            <li>
            <%= link_to 'My hostels', hostels_path, :class => "dropdown-item" %>
          </li>
              <% end %>


          <li><%= link_to "Logout", destroy_user_session_path, method: :delete, :class => "dropdown-item" %></li>
          

      </li>
      <% else %>
      <li class="nav-item"><a href="#" class="nav-link"><%= link_to "Sign up", new_user_registration_path %></a></li>
      <li class="nav-item"><a href="#" class="nav-link"><%= link_to "Login", new_user_session_path, :class => 'navbar-link'  %></a></li>
  
<% end %>
    </ul>
  </div>
</nav>



  <%= yield %>
<br><br><br><br>

<!-- Footer -->
<footer class="page-footer font-small stylish-color-dark pt-4" style="background-color:#2eca6a ; color: #fff;">

  <!-- Footer Links -->
  <div class="container text-center text-md-left">

    <!-- Grid row -->
    <div class="row">

      <!-- Grid column -->
      <div class="col-md-4 mx-auto">

        <!-- Content -->
        <h3 class="font-weight-bold text-uppercase mt-3 mb-4"><b>Why You Need Support?</b></h3>
        <p style="font-size: 18px;">If you feel any problem or you have some siggestion reggarding the product you can contact to support.<br>
        We will provide you the solution as soon we can.</p>

      </div>
      <!-- Grid column -->

     

      <!-- Grid column -->
      <div class="col-md-2 mx-auto">

        <!-- Links -->
        <h5 class="font-weight-bold text-uppercase mt-3 mb-4"><b>Facebook</b></h5>

        <ul class="list-unstyled">
          <li>
            <a href="#!"><i style="font-size: 20px;" class="fab fa-facebook-f"> </i></a>
          </li>
         
        </ul>

      </div>
      <!-- Grid column -->

      <!-- Grid column -->
      <div class="col-md-2 mx-auto">

        <!-- Links -->
        <h5 class="font-weight-bold text-uppercase mt-3 mb-4"><b>Twitter</b></h5>

        <ul class="list-unstyled">
          <li>
            <a href="#!"><i style="font-size: 20px;" class="fab fa-twitter"></i></a>
          </li>
         
        </ul>

      </div>
      <!-- Grid column -->

      

      <!-- Grid column -->
      <div class="col-md-2 mx-auto">

        <!-- Links -->
        <h5 class="font-weight-bold text-uppercase mt-3 mb-4"><b>Google</b></h5>

        <ul class="list-unstyled">
          <li>
            <a href="#!">Link 1</a>
          </li>
        </ul>

      </div>
      <!-- Grid column -->

    </div>
    <!-- Grid row -->

  </div>
  <!-- Footer Links -->

  <hr>

  <!-- Call to action -->
  <ul class="list-unstyled list-inline text-center py-2">
    <li class="list-inline-item">
      <h5 class="mb-1">Register for free</h5>
    </li>
    <li class="list-inline-item">
      <a href="#!" class="btn btn-danger btn-rounded">Sign up!</a>
    </li>
  </ul>
  <!-- Call to action -->

  <hr>

  <!-- Social buttons -->
  <ul class="list-unstyled list-inline text-center">
    <li class="list-inline-item">
      <a class="btn-floating btn-fb mx-1">
        <i class="fab fa-facebook-f"> </i>
      </a>
    </li>
    <li class="list-inline-item">
      <a class="btn-floating btn-tw mx-1">
        <i class="fab fa-twitter"> </i>
      </a>
    </li>
    <li class="list-inline-item">
      <a class="btn-floating btn-gplus mx-1">
        <i class="fab fa-google-plus-g"> </i>
      </a>
    </li>
    <li class="list-inline-item">
      <a class="btn-floating btn-li mx-1">
        <i class="fab fa-linkedin-in"> </i>
      </a>
    </li>
    <li class="list-inline-item">
      <a class="btn-floating btn-dribbble mx-1">
        <i class="fab fa-dribbble"> </i>
      </a>
    </li>
  </ul>
  <!-- Social buttons -->

  <!-- Copyright -->

  <!-- Copyright -->

</footer>
<!-- Footer -->